
{% extends 'base.html' %}
{% load static %}

{% block content %}
<meta charset="UTF-8">
<style>
@media (min-width: 768px) {
  .modal-container {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .modal-container {
    width: 66.66%;
  }
}
</style>
<!-- Cargar jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Cargar CSS de DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<main class="flex-1 p-2">

<form method="GET" action="" class="mb-2">
  <div class="container mx-auto p-2 bg-gray-100 rounded-md shadow-md">
    <div class="flex items-center space-x-2">
      <div class="flex-1">
        <label for="fecha_inicio" class="block text-xs font-medium text-gray-700 mb-1">Fecha Inicio</label>
        <div class="relative">
          <input
            type="date"
            id="fecha_inicio"
            name="fecha_inicio"
            value="{{ request.GET.fecha_inicio|default:fecha_hoy }}"
            class="w-full pl-8 pr-3 py-2 border border-gray-300 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition duration-200">
          <span class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-500 text-sm">
            <i class="fas fa-calendar-alt"></i>
          </span>
        </div>
      </div>
      <div class="flex-1">
        <label for="fecha_fin" class="block text-xs font-medium text-gray-700 mb-1">Fecha Fin</label>
        <div class="relative">
          <input
            type="date"
            id="fecha_fin"
            name="fecha_fin"
            value="{{ request.GET.fecha_fin|default:fecha_hoy }}"
            class="w-full pl-8 pr-3 py-2 border border-gray-300 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition duration-200">
          <span class="absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-500 text-sm">
            <i class="fas fa-calendar-alt"></i>
          </span>
        </div>
      </div>
      <div class="flex items-center">
        <button type="submit" class="bg-indigo-600 text-white px-4 py-2 rounded-md text-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition duration-200">
          Filtrar
        </button>
      </div>
    </div>
  </div>
</form>





<!-- Bloque de Modales -->
{% for item in movimientos %}
  {% if item.tipo == "Gasto" %}
    <div id="modal-{{ item.id }}" class="fixed inset-0 z-50 hidden bg-gray-800 bg-opacity-50 overflow-y-auto">
      <div class="flex items-center justify-center min-h-screen">
        <!-- Modal content -->
        <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-6xl">
          <h2 class="text-2xl font-bold mb-4 text-center">Rendiciones de Gasto</h2>
          <!-- Tabla responsiva -->
          <div class="overflow-x-auto">
            <table class="min-w-full text-sm text-left text-gray-500 border border-gray-300">
              <thead class="text-xs uppercase bg-gray-100 text-gray-700 border-b">
                <tr>
                  <th class="px-4 py-2 border-r">Proveedor</th>
                  <th class="px-4 py-2 border-r">Descripcion</th>
                  <th class="px-4 py-2 border-r">Numero de Comprobante</th>
                  <th class="px-4 py-2 border-r">Tipo de Comprobante</th>
                  <th class="px-4 py-2 border-r">Importe</th>
                  <th class="px-4 py-2 border-r">Concepto Nivel 1</th>
                  <th class="px-4 py-2 border-r">Concepto Nivel 2</th>
                  <th class="px-4 py-2 border-r">Concepto Nivel 3</th>
                </tr>
              </thead>
              <tbody>
                {% for rendicion in item.rendiciones %}
                  <tr class="bg-white hover:bg-gray-50 border-b">
                    <td class="px-4 py-2 border-r">{{ rendicion.proveedor.razon_social }}</td>
                    <td class="px-4 py-2 border-r">{{ rendicion.descripcion }}</td>
                    <td class="px-4 py-2 border-r">{{ rendicion.numero_requerimiento }}</td>
                    <td class="px-4 py-2 border-r">{{ rendicion.tipo_comprobante }}</td>
                    <td class="px-4 py-2 border-r text-right">{{ rendicion.importe|floatformat:2 }}</td>
                    <td class="px-4 py-2 border-r">
                      {% if rendicion.concepto_nivel_1 %}
                        {{ rendicion.concepto_nivel_1.concepto_nombre }}
                      {% endif %}
                    </td>
                    <td class="px-4 py-2 border-r">
                      {% if rendicion.concepto_nivel_2 %}
                        {{ rendicion.concepto_nivel_2.concepto_nombre }}
                      {% endif %}
                    </td>
                    <td class="px-4 py-2 border-r">
                      {% if rendicion.concepto_nivel_3 %}
                        {{ rendicion.concepto_nivel_3.concepto_nombre }}
                      {% endif %}
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="9" class="px-4 py-2 text-center">No hay rendiciones disponibles.</td>
                  </tr>
                {% endfor %}
                {% if item.rendiciones %}
                  <tr class="bg-gray-200 font-bold">
                    <td colspan="4" class="px-4 py-2 text-right">Total:</td>
                    <td class="px-4 py-2 text-right">{{ item.total_rendido|floatformat:2 }}</td>
                    <td colspan="3"></td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          <button class="mt-4 bg-blue-500 text-white px-4 py-2 rounded" onclick="closeModal('modal-{{ item.id }}')">Cerrar</button>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}





<!-- Tabla de Resumen Diario -->
<div class="bg-white shadow-md rounded-lg p-2 overflow-auto">
<h1 class="text-xl font-bold text-center  text-indigo-800 p-1 rounded-lg shadow-md mb-2">
  Movimientos del {{ rango_fechas }}
</h1>
<!-- Botón Descargar Excel -->
<div class="text-right mb-4">
  <button
    id="downloadExcelBtn"
    class="bg-green-500 text-white px-4 py-2 rounded-md text-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-200">
    Reporte detallado
  </button>
{% if not request.user.is_staff %}
<button
  id="dailyReportBtn"
  class="bg-blue-500 text-white px-4 py-2 rounded-md text-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200"
  onclick="window.location.href='{% url 'reporte_diario' %}?saldo_inicial={{ saldo_inicial|floatformat:2 }}'">
  Reporte Diario
</button>

{% endif %}

</div>

<table id="movimientos-table" class="w-full text-sm text-left text-gray-700 border border-gray-300 bg-white shadow-md rounded-lg overflow-hidden">
        <thead class="text-xs uppercase bg-gray-100 text-gray-700 border-b">
            <tr>
                <th class="px-4 py-2 border-r"></th>
                <th class="px-4 py-2 border-r">Fecha</th>
                {% if user.is_staff %}
                    <th class="px-4 py-2 border-r">Usuario</th> <!-- Columna extra para el usuario -->
                {% endif %}
                <th class="px-4 py-2 border-r">Método de Pago</th>
                <th class="px-4 py-2 border-r">Proveedor/Fondo</th>
                <th class="px-4 py-2 border-r">Concepto</th>
                <th class="px-4 py-2 border-r">Monto</th>
                <th class="px-4 py-2 border-r">Observación</th>
                <th class="px-4 py-2 text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in movimientos %}
            <tr class="bg-white hover:bg-gray-50 border-b
                {% if item.tipo == 'Gasto' %}
                    bg-red-100 text-red-700
                {% elif item.tipo == 'Extorno' %}
                    bg-green-100 text-green-700
                {% else %}
                    bg-green-100 text-green-700
                {% endif %}
                rounded-lg">
                <td class="px-4 py-2 border-r">
                    <span class="inline-block px-4 py-1 text-xs font-semibold uppercase rounded-full
                                {% if item.tipo == 'Gasto' %}
                                    bg-red-500 text-white
                                {% elif item.tipo == 'Extorno' %}
                                    bg-green-500 text-white
                                {% else %}
                                    bg-green-500 text-white
                                {% endif %}">
                        {% if item.tipo == 'Gasto' %} Gasto {% elif item.tipo == 'Extorno' %} Extorno {% else %} Ingreso {% endif %}
                    </span>
                </td>
                <td class="px-4 py-2 border-r">{{ item.fecha }}</td>
                {% if user.is_staff %}
                    <td class="px-4 py-2 border-r">{{ item.usuario_creador }}</td>
                {% endif %}

                <td class="px-4 py-2 border-r">{{ item.metodo_pago }}</td>
                <td class="px-4 py-2 border-r">{{ item.proveedor }}</td>
                <td class="px-4 py-2 border-r">{{ item.concepto }}</td>
                <td class="px-4 py-2 border-r text-right font-bold">
                    {% if item.moneda == 'Soles' %}
                        S/{{ item.monto|floatformat:2 }}
                    {% else %}
                        ${{ item.monto|floatformat:2 }}
                    {% endif %}
                </td>
                <td class="px-4 py-2 border-r">{{ item.notas }}</td>
                <td class="px-4 py-2 text-center flex justify-center gap-2">
                    {% if item.tipo == 'Gasto' and item.rendido %}
                    <a href="#" class="text-blue-500 hover:text-blue-700" data-modal="modal-{{ item.id }}">
                        <i class="fas fa-eye"></i>
                    </a>
                    {% endif %}
                    {% if item.tipo == 'Extorno' and item.metodo_pago == "Sin especificar" %}
                        <a href="{% url 'edit_item' item.id item.tipo %}" class="text-yellow-500 hover:text-yellow-700">
                            <i class="fas fa-exclamation-triangle"></i>
                        </a>
                    {% endif %}

                    {% if item.concepto == 'Requerimiento' or item.concepto == 'Sin Requerimiento' and not item.rendido %}
                    <p class="bg-red-500 text-white font-bold text-center py-2 px-4 rounded">Rendir</p>
                    {% endif %}

                    {% if item.tipo == "Gasto" or item.tipo == "Extorno" %}
                    <!-- Enlace que abre el modal -->
                    <a href="javascript:void(0);" class="text-yellow-500 hover:text-yellow-700"
                       data-bs-toggle="modal"
                       data-bs-target="#editModal"
                       data-id="{{ item.id }}"
                       data-concepto="{{ item.notas|escape }}"
                       data-tipo="{{ item.tipo }}"
                       data-concepto1="{{ item.concepto_nivel_1_id }}"
                       data-concepto2="{{ item.concepto_nivel_2_id }}"
                       data-concepto3="{{ item.concepto_nivel_3_id }}"
                       data-requerimiento="{{item.tipo_item }}"
                       >
                        <i class="fas fa-pen"></i>
                    </a>


                    {% endif %}
                        <!-- Botón Yape si transferir_yape == 0 -->
                    <!-- Enlace que abre el modal -->
                    {% if item.transferir_yape == 0 and not user.is_staff %}
                        <a href="javascript:void(0);" class="text-purple-500 hover:text-purple-700" onclick="openModal({{ item.id }})">
                            <i class="fas fa-exchange-alt"></i>
                        </a>
                    {% endif %}
                    {% if user.is_authenticated and user.saldo_inicial and not user.saldo_inicial.caja_cerrada and item.eliminar == "Si" %}
                      <a href="javascript:void(0);" onclick="confirmEliminar({{ item.id }}, '{{ item.tipo }}')" class="text-red-500 hover:text-red-700">
                          <i class="fas fa-trash"></i>
                      </a>
                    {% endif %}


                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<form id="deleteForm" method="post" action="" style="display: none;">
    {% csrf_token %}
</form>


<div class="mt-6  p-6 ">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <p class="text-sm bg-blue-200 text-blue-900 shadow-xl p-4 rounded-lg border-4 border-blue-400 transform hover:scale-105 transition-transform duration-200">

      Saldo Inicial:
      <span class="font-bold text-xl block">S/ {{ saldo_inicial|floatformat:2 }}</span>
    </p>
    <p class="text-sm bg-green-200 text-green-900 shadow-xl p-4 rounded-lg border-4 border-green-400 transform hover:scale-105 transition-transform duration-200">
      Ingresos Totales:
      <span class="font-bold text-xl block">S/ {{ total_ingresos_soles|floatformat:2 }}</span>
    </p>
    <p class="text-sm bg-red-200 text-red-900 shadow-xl p-4 rounded-lg border-4 border-red-400 transform hover:scale-105 transition-transform duration-200">
      Egresos Totales:
      <span class="font-bold text-xl block">S/ {{ total_egresos_soles|floatformat:2 }}</span>
    </p>
    <p class="text-sm bg-yellow-200 text-yellow-900 shadow-xl p-4 rounded-lg border-4 border-yellow-400 transform hover:scale-105 transition-transform duration-200">
      Saldo Final:
      <span class="font-bold text-xl block">S/ {{ saldo_final|floatformat:2 }}</span>
    </p>
    {% if not request.user.is_staff %}
      <!-- Mostrar para usuarios no staff -->
      <p class="text-sm bg-teal-200 text-teal-900 shadow-xl p-4 rounded-lg border-4 border-teal-400 transform hover:scale-105 transition-transform duration-200">
        Dinero en Efectivo:
        <span class="font-bold text-xl block">S/ {{ saldo_efectivo|floatformat:2 }}</span>
      </p>
      <p class="text-sm bg-purple-200 text-purple-900 shadow-xl p-4 rounded-lg border-4 border-purple-400 transform hover:scale-105 transition-transform duration-200">
        Dinero en Yape:
        <span class="font-bold text-xl block">S/ {{ saldo_banco|floatformat:2 }}</span>
      </p>
    {% endif %}
  </div>
</div>





</main>
<!-- Modal -->
<div id="transferModal" class="hidden fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
        <h2 class="text-xl font-semibold mb-4">Transferir Monto</h2>

        <!-- ID oculto -->
        <input type="hidden" id="itemId">

        <!-- Campo de monto -->
        <label class="block text-gray-700">Monto:</label>
        <input type="number" id="monto" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500" placeholder="Ingrese el monto">

        <!-- Botón de enviar -->
        <div class="mt-4 flex justify-end">
            <button onclick="closeModal('transferModal')" class="px-4 py-2 bg-gray-400 text-white rounded-lg mr-2">Cancelar</button>
            <button onclick="confirmTransfer()" class="px-4 py-2 bg-purple-600 text-white rounded-lg hover:bg-purple-700">Enviar</button>
        </div>
    </div>
</div>
<div id="editModal" class="fixed inset-0 z-50 hidden bg-gray-800 bg-opacity-50 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen">
        <!-- Modal content -->
        <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-2xl">
            <h2 id="modalTitle" class="text-2xl font-bold mb-4 text-center">Editar Movimiento</h2>
            <!-- Formulario de edición -->
            <form id="updateForm" method="post" action="{% url 'actualizar_movimiento' %}">
                {% csrf_token %}
                <!-- Campo oculto para el ID -->
                <input type="hidden" id="movimientoId" name="id" />
                <!-- Campo oculto para el Tipo (Gasto o Ingreso) -->
                <input type="hidden" id="movimientoTipo" name="tipo" />

                <div class="mb-4">
                    <label for="movimientoNotas" class="block text-sm font-medium text-gray-700">Notas</label>
                    <textarea
                        id="movimientoNotas"
                        name="notas"
                        required
                        rows="3"
                        class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 resize-y"
                        placeholder="Escribe tus notas aquí..."></textarea>
                </div>

                <!-- Sección de Conceptos (Visible solo si es Gasto) -->
                <div id="conceptosSection" class="hidden">
                    <div class="mb-4">
                        <label for="concepto_nivel_1_results" class="block text-sm font-medium text-gray-700">Concepto Nivel 1</label>
                        <select id="concepto_nivel_1_results" name="concepto_nivel_1" class="w-full block select2">
                            <option value="">Seleccionar</option>
                            {% for concepto in nivel_1_conceptos %}
                                <option value="{{ concepto.id }}">{{ concepto.concepto_nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-4">
                        <label for="concepto_nivel_2_results" class="block text-sm font-medium text-gray-700">Concepto Nivel 2</label>
                        <select id="concepto_nivel_2_results" name="concepto_nivel_2" class="w-full block select2">
                            <option value="">Seleccionar</option>
                        </select>
                    </div>

                    <div class="mb-4">
                        <label for="concepto_nivel_3_results" class="block text-sm font-medium text-gray-700">Concepto Nivel 3</label>
                        <select id="concepto_nivel_3_results" name="concepto_nivel_3" class="w-full block select2">
                            <option value="">Seleccionar</option>
                        </select>
                    </div>
                </div>

                <div class="flex justify-end space-x-4">
                    <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600" onclick="closeModal('editModal')">Cerrar</button>
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>




{% include 'mensaje.html' %}
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function getCSRFToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }

function confirmEliminar(itemId, itemTipo) {
    Swal.fire({
        title: '¿Está seguro?',
        text: "Esta acción eliminará el ítem. Si es un requerimiento, se borrarán todas las rendiciones asociadas y deberán recrearse.",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Sí, eliminar'
    }).then((result) => {
        if (result.isConfirmed) {
            // Se asigna la URL de acción al formulario oculto usando backticks
            var form = document.getElementById("deleteForm");
            form.action = `/eliminar-item/${itemId}/${itemTipo}/`;
            form.submit();
        }
    });
}

</script>


<script>
    function openModal(itemId) {
        document.getElementById('itemId').value = itemId;
        document.getElementById('transferModal').classList.remove('hidden');
    }

    function closeModal() {
        document.getElementById('transferModal').classList.add('hidden');
    }

    function confirmTransfer() {
        let itemId = document.getElementById('itemId').value;
        let monto = document.getElementById('monto').value;

        if (!monto || monto <= 0) {
            Swal.fire("Error", "Ingrese un monto válido.", "error");
            return;
        }

        Swal.fire({
            title: "¿Estás seguro?",
            text: "Esta acción no se puede deshacer.",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Sí, transferir",
            cancelButtonText: "Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {
                sendTransfer(itemId, monto);
            }
        });
    }

function sendTransfer(itemId, monto) {
    fetch("{% url 'transferir_yape' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body: JSON.stringify({
            item_id: itemId,
            monto: monto
        })
    })
    .then(response => response.json().then(data => ({ status: response.status, body: data })))
    .then(({ status, body }) => {
        if (status === 200) {
            Swal.fire("Éxito", body.message, "success");
            closeModal('transferModal');
            location.reload();
        } else {
            throw new Error(body.error || "Error desconocido");
        }
    })
    .catch(error => {
        Swal.fire("Error", `Hubo un problema con la transferencia: ${error.message}`, "error");
    });
}

</script>
<script>
    // Script para mostrar y cargar datos en el modal
    const editModalTrigger = document.querySelectorAll('[data-bs-toggle="modal"]');
    const editModal = document.getElementById('editModal');

    editModalTrigger.forEach(trigger => {
        trigger.addEventListener('click', function () {
            const id = this.getAttribute('data-id');
            const notas = this.getAttribute('data-concepto');

            const movimientoId = document.getElementById('movimientoId');
            const movimientoNotas = document.getElementById('movimientoNotas');

            movimientoId.value = id;
            movimientoNotas.value = notas;

            editModal.classList.remove('hidden');
        });
    });

    function closeModal(modalId) {
        document.getElementById(modalId).classList.add('hidden');
    }
</script>
<script>
$(document).ready(function() {
  $('#movimientos-table').DataTable({
    paging: false,
    info: false,
    searching: true

  });
          $('#concepto_nivel_1_results').on('change', function() {
            var conceptoId = $(this).val();
            $.ajax({
                url: '{% url "get_nivel_2_conceptos" %}',
                data: {id_concepto_padre: conceptoId},
                success: function(data) {
                    $('#concepto_nivel_2_results').empty().append('<option value="">Seleccionar</option>');
                    $.each(data, function(index, concepto) {
                        $('#concepto_nivel_2_results').append('<option value="' + concepto.id + '">' + concepto.concepto_nombre + '</option>');
                    });
                }
            });
        });

        $('#concepto_nivel_2_results').on('change', function() {
            var conceptoId = $(this).val();
            $.ajax({
                url: '{% url "get_nivel_3_conceptos" %}',
                data: {id_concepto_padre: conceptoId},
                success: function(data) {
                    $('#concepto_nivel_3_results').empty().append('<option value="">Seleccionar</option>');
                    $.each(data, function(index, concepto) {
                        $('#concepto_nivel_3_results').append('<option value="' + concepto.id + '">' + concepto.concepto_nombre + '</option>');
                    });
                }
            });
        });
});
</script>

<script>
document.getElementById('downloadExcelBtn').addEventListener('click', function() {
    // Capturar las fechas de los inputs
    var fecha_inicio = document.getElementById('fecha_inicio').value;
    var fecha_fin = document.getElementById('fecha_fin').value;
    // Crear la URL con los parámetros de fecha
    var url = "{% url 'descargarexcel' %}?fecha_inicio=" + fecha_inicio + "&fecha_fin=" + fecha_fin;

    // Redirigir al usuario a la URL generada
    window.location.href = url;
});
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
                // Seleccionar todos los enlaces que abren modales
        document.querySelectorAll("[data-modal]").forEach(button => {
            button.addEventListener("click", function () {
                const modalId = this.getAttribute("data-modal"); // Obtener el ID del modal
                const modal = document.getElementById(modalId);
                if (modal) {
                    modal.classList.remove("hidden"); // Mostrar el modal
                }
            });
        });

        // Función para cerrar el modal
        window.closeModal = function (modalId) {
            const modal = document.getElementById(modalId);
            if (modal) {
                modal.classList.add("hidden"); // Ocultar el modal
            }
        };

        // Cerrar el modal si el usuario hace clic fuera del contenido
        document.querySelectorAll(".fixed.inset-0").forEach(modal => {
            modal.addEventListener("click", function (e) {
                if (e.target === this) {
                    this.classList.add("hidden");
                }
            });
        });
        console.log("🔹 Script de edición de movimiento cargado.");

        // Inicializar Select2 en los selects de conceptos con width 100%
        $('.select2').select2({
            placeholder: "Seleccione una opción",
            allowClear: true,
            width: '100%'
        });
        console.log("✅ Select2 inicializado en los select de conceptos.");

        const editModal = document.getElementById('editModal');

        document.querySelectorAll("[data-bs-toggle='modal']").forEach(trigger => {
            trigger.addEventListener("click", function () {
                console.log("🟡 Botón de edición clickeado.");

                // Limpiar formulario antes de cargar nuevos datos
                document.getElementById("movimientoId").value = "";
                document.getElementById("movimientoNotas").value = "";
                document.getElementById("modalTitle").innerText = "Editar Movimiento";
                document.getElementById("movimientoTipo").value = "";



                // Ocultar la sección de conceptos por defecto
                let conceptosSection = document.getElementById("conceptosSection");
                conceptosSection.classList.add("hidden");

                // Obtener datos del botón
                const id = this.getAttribute("data-id");
                const notas = this.getAttribute("data-concepto");
                const tipo = this.getAttribute("data-tipo");
                const concepto1 = this.getAttribute("data-concepto1");
                const concepto2 = this.getAttribute("data-concepto2");
                const concepto3 = this.getAttribute("data-concepto3");
                const requerimiento=this.getAttribute("data-requerimiento");

                console.log(`ℹ️ Datos recibidos -> ID: ${id}, Notas: ${notas}, Tipo: ${tipo}`);
                console.log(`ℹ️ Conceptos -> Nivel1: ${concepto1}, Nivel2: ${concepto2}, Nivel3: ${concepto3},Requerimiento: ${requerimiento},`);

                // Asignar valores al formulario
                document.getElementById("movimientoId").value = id;
                document.getElementById("movimientoNotas").value = notas;
                document.getElementById("modalTitle").innerText = `Editar Movimiento #${id}`;
                document.getElementById("movimientoTipo").value = tipo;

                console.log("✅ Valores asignados al formulario.");

                // Mostrar sección de conceptos si el tipo es "Gasto"
                if (tipo === "Gasto" && requerimiento !== "Requerimiento") {
                    console.log("📌 Tipo es 'Gasto', mostrando select de conceptos.");
                    conceptosSection.classList.remove("hidden");

                    // Preseleccionar valores en Select2 si existen
                    if (concepto1) {
                        setTimeout(() => {
                            $("#concepto_nivel_1_results").val(concepto1).trigger("change");
                            console.log("✅ Nivel 1 preseleccionado:", concepto1);
                        }, 100);

                        setTimeout(() => {
                            if (concepto2) {
                                $("#concepto_nivel_2_results").val(concepto2).trigger("change");
                                console.log("✅ Nivel 2 preseleccionado:", concepto2);
                            }
                        }, 500);

                        setTimeout(() => {
                            if (concepto3) {
                                $("#concepto_nivel_3_results").val(concepto3).trigger("change");
                                console.log("✅ Nivel 3 preseleccionado:", concepto3);
                            }
                        }, 800);
                    }
                } else {
                    console.log("📌 Tipo NO es 'Gasto', ocultando select de conceptos.");
                }

                // Mostrar el modal
                document.getElementById("editModal").classList.remove("hidden");
                console.log("🟢 Modal mostrado.");
            });
        });

        // Función para cerrar modal
        window.closeModal = function (modalId) {
            document.getElementById(modalId).classList.add("hidden");
        };
    });

    function closeModal(modalId) {
        console.log(`🔴 Cerrando modal: ${modalId}`);
        // Si es el modal de edición, limpiar los campos para evitar que persistan los valores
        if (modalId === 'editModal') {
            $('#concepto_nivel_1_results').val('').trigger('change');
            $('#concepto_nivel_2_results').empty().append('<option value="">Seleccionar</option>').trigger('change');
            $('#concepto_nivel_3_results').empty().append('<option value="">Seleccionar</option>').trigger('change');
            document.getElementById("movimientoNotas").value = "";
            document.getElementById("movimientoTipo").value = "";
            document.getElementById("modalTitle").innerText = "Editar Movimiento";
        }
        document.getElementById(modalId).classList.add('hidden');
    }
</script>




{% endblock %}
