{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <div class="container mx-auto mt-10 p-5 bg-white rounded shadow-lg">
        <h2 class="text-2xl font-bold text-center mb-5">Crear Préstamo</h2>
<div class="mb-6 flex gap-4 justify-center">
    <button type="button" class="bg-green-600 hover:bg-green-700 text-white p-3 rounded-lg transition duration-300" onclick="openModal('agregarBancoModal')">
        Agregar Banco
    </button>
</div>

        <form method="POST" id="form-prestamo">
            {% csrf_token %}
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div>
                    <label for="fecha_prestamo" class="block text-sm font-medium text-gray-700">Fecha de Préstamo</label>
                    <input type="date" name="fecha_prestamo" id="fecha_prestamo" class="block w-full px-4 py-2 border rounded-md" required>
                </div>
                <div>
                    <label for="fecha_vencimiento" class="block text-sm font-medium text-gray-700">Fecha de Vencimiento</label>
                    <input type="date" name="fecha_vencimiento" id="fecha_vencimiento" class="block w-full px-4 py-2 border rounded-md" >
                </div>
                <div>
                    <label for="numero_cuotas" class="block text-sm font-medium text-gray-700">Número de Cuotas</label>
                    <input type="number" name="numero_cuotas" id="numero_cuotas" class="block w-full px-4 py-2 border rounded-md" required min="1">
                </div>
                <div>
                    <label for="proveedor" class="block text-sm font-medium text-gray-700">Proveedor</label>
                    <select name="proveedor" id="proveedor" class="block w-full px-4 py-2 border rounded-md" required>
                        <option value="">Seleccione un proveedor</option>
                        {% for proveedor in proveedores %}
                            <option value="{{ proveedor.id }}">{{ proveedor.razon_social }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="tea" class="block text-sm font-medium text-gray-700">Tasa Efectiva Anual (TEA)(opcional )</label>
                    <input type="number" name="tea" id="tea" class="block w-full px-4 py-2 border rounded-md" step="0.01">
                </div>
                <div>
                    <label for="banco" class="block text-sm font-medium text-gray-700">Banco</label>
                    <select name="banco" id="banco" class="block w-full px-4 py-2 border rounded-md" required>
                        <option value="">Seleccione un banco</option>
                        {% for banco in bancos %}
                            <option value="{{ banco.id }}">{{ banco.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="analista" class="block text-sm font-medium text-gray-700">Analista</label>
                    <input type="text" name="analista" id="analista" class="block w-full px-4 py-2 border rounded-md" required>
                </div>
                <div>
                    <label for="monto" class="block text-sm font-medium text-gray-700">Monto del Préstamo(Opcional)</label>
                    <input type="number" name="monto" id="monto" class="block w-full px-4 py-2 border rounded-md" step="0.01">
                </div>
                <!-- Local al lado del monto -->
                    <div>
                        <label for="local" class="block text-sm font-medium text-gray-700">Local</label>
                        <select name="local" id="local" class="block w-full px-4 py-2 border rounded-md" required>
                            <option value="">Seleccione un local</option>
                            {% for local in locales %}
                                <option value="{{ local.id }}">{{ local.nombre_local }}</option>
                            {% endfor %}
                        </select>
                    </div>
                <!-- Fila con 3 elementos juntos: monto y local -->
                <div class="md:col-span-3 grid grid-cols-3 gap-4">
                    <div>
                        <label for="dia_pago" class="block text-sm font-medium text-gray-700">Día de Pago</label>
                        <input type="number" name="dia_pago" id="dia_pago" class="block w-full px-4 py-2 border rounded-md"  min="1" max="31">
                    </div>
                    <div>
                        <label for="estado" class="block text-sm font-medium text-gray-700">Estado</label>
                        <select name="estado" id="estado" class="block w-full px-4 py-2 border rounded-md" required>
                            <option value="nuevo">Nuevo </option>
                            <option value="proceso">En proceso</option>
                            <option value="terminado">Terminado</option>
                        </select>
                    </div>
                    <div id="cuota_actual_div">
                        <label for="cuota_actual" class="block text-sm font-medium text-gray-700">Cuota Actual</label>
                        <input type="number" name="cuota_actual" id="cuota_actual" class="block w-full px-4 py-2 border rounded-md" min="1">
                    </div>
                    <div>
                    <label for="monto_cuota" class="block text-sm font-medium text-gray-700">Monto de la Cuota</label>
                    <input type="number" name="monto_cuota" id="monto_cuota" class="block w-full px-4 py-2 border rounded-md"required>
                </div>

                </div>

                <div class="md:col-span-3">
                    <label for="notas" class="block text-sm font-medium text-gray-700">Notas</label>
                    <textarea name="notas" id="notas" class="block w-full px-4 py-2 border rounded-md" rows="3"></textarea>
                </div>
            </div>

            <div class="text-center mt-5">
                <button type="button" class="px-6 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600" onclick="confirmarCreacion()">Crear Préstamo</button>
            </div>
        </form>
    </div>

<!-- Modal para agregar banco -->
<div id="agregarBancoModal" class="fixed inset-0 z-50 hidden bg-gray-800 bg-opacity-50 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen">
        <!-- Contenido del Modal -->
        <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-lg">
            <h2 class="text-2xl font-bold mb-4 text-center">Agregar Banco</h2>
            <!-- Formulario de agregar banco -->
            <form method="POST" action="{% url 'agregar_banco' %}">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="id_nombre" class="block text-sm font-medium text-gray-700">Nombre del Banco</label>
                    <input type="text" id="id_nombre" name="nombre" class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Nombre del Banco" required>
                </div>

                <div class="flex justify-end space-x-4">
                    <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600" onclick="closeModal('agregarBancoModal')">Cerrar</button>
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
  // Función para abrir el modal
  function openModal(modalId) {
      document.getElementById(modalId).classList.remove('hidden');
  }

  // Función para cerrar el modal
  function closeModal(modalId) {
      document.getElementById(modalId).classList.add('hidden');
  }
</script>

<script>
    $(document).ready(function() {
            $('#proveedor').select2({
        width: '100%'
    });
    });

    // Mostrar/ocultar cuota_actual según el estado seleccionado
    $('#estado').change(function() {
        if ($(this).val() === 'proceso') {
            $('#cuota_actual_div').show();
            $('#cuota_actual').prop('required', true);
        } else {
            $('#cuota_actual_div').hide();
            $('#cuota_actual').val(''); // Limpiar campo
            $('#cuota_actual').prop('required', false);
        }
    }).trigger('change'); // Ejecutar al cargar la página para aplicar correctamente el estado inicial

function confirmarCreacion() {
    if (!validarFormulario()) {
        return; // Si hay campos faltantes, detener la ejecución
    }

    Swal.fire({
        title: '¿Estás seguro?',
        text: '¡Estás a punto de crear un nuevo préstamo!',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Sí, crear préstamo',
        cancelButtonText: 'Cancelar'
    }).then((result) => {
        if (result.isConfirmed) {
            document.getElementById('form-prestamo').submit();
        }
    });
}

function validarFormulario() {
    let valid = true;
    let camposFaltantes = [];

    // Seleccionar solo los campos que tienen el atributo 'required'
    $('#form-prestamo input[required], #form-prestamo select[required]').each(function() {
        let valor = $(this).val().trim();

        // Si el campo está vacío, agregarlo a la lista de faltantes
        if (valor === '') {
            valid = false;
            let label = $(this).closest('div').find('label').text().trim(); // Obtener el texto del label
            camposFaltantes.push(label);
            $(this).addClass('border-red-500'); // Resaltar el campo con borde rojo
        } else {
            $(this).removeClass('border-red-500'); // Quitar el borde rojo si se llena
        }
    });

    // Mostrar alerta si hay campos requeridos sin llenar
    if (!valid) {
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            html: 'Por favor completa los siguientes campos requeridos:<br><b>' + camposFaltantes.join('<br>') + '</b>'
        });
    }

    return valid;
}

</script>
<!-- Incluyendo mensajes -->
{% include 'mensaje.html' %}

{% endblock %}
