{% extends 'base.html' %}

{% block content %}
{% load static %}

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Incluyendo el CSS de Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<main class="flex-1 p-8">
          <h2 class="text-3xl font-bold mb-6">Registrar Gastos en Caja</h2>

  <!-- Formulario -->
  <div class="bg-white shadow-md rounded-lg p-6">
    {% include 'mensaje.html' %}

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">

      <!-- Fecha -->
      <div>
        <label for="fecha" class="block text-sm font-medium text-gray-700">Fecha:</label>
        <input type="date" id="fecha" name="fecha" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-accent focus:border-accent" required>
      </div>

      <!-- Importe -->
      <div>
        <label for="importe" class="block text-sm font-medium text-gray-700">Importe:</label>
        <input type="number" id="importe" name="importe" step="0.01" placeholder="0.00" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-accent focus:border-accent" required>
      </div>

        <!-- Tipo Comprobante -->
        <div>
          <label for="tipo_comprobante" class="block text-sm font-medium text-gray-700">Tipo Comprobante:</label>
          <select id="tipo_comprobante" name="tipo_comprobante" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-accent focus:border-accent">
            <option value="" selected disabled>Seleccione una opción</option>
            <option value="Factura">Factura</option>
            <option value="Boleta">Boleta</option>
            <option value="Nota">Nota</option>
            <option value="Proforma">Proforma</option>
            <option value="Declaracion">Declaración</option>
            <option value="RHE">RHE</option>
            <option value="Requerimiento">Requerimiento</option>
            <option value="Boleta de pago">Boleta de pago</option>
          </select>
        </div>
        <!-- Campo Mes (Oculto dinámicamente) -->
        <div id="campo-mes-container" class="bg-gray-800 text-white p-4 rounded-lg shadow-md" style="display: none;">
          <label for="campo_mes" class="block text-sm font-medium">Mes:</label>
          <select id="campo_mes" name="campo_mes" class="mt-1 block w-full bg-gray-700 text-white rounded-md focus:ring-indigo-500 focus:border-indigo-500">
            <option value="" selected disabled>Seleccione un mes</option>
            <option value="Enero">Enero</option>
            <option value="Febrero">Febrero</option>
            <option value="Marzo">Marzo</option>
            <option value="Abril">Abril</option>
            <option value="Mayo">Mayo</option>
            <option value="Junio">Junio</option>
            <option value="Julio">Julio</option>
            <option value="Agosto">Agosto</option>
            <option value="Septiembre">Septiembre</option>
            <option value="Octubre">Octubre</option>
            <option value="Noviembre">Noviembre</option>
            <option value="Diciembre">Diciembre</option>
          </select>
        </div>

            <!-- ID Requerimiento (Oculto dinámicamente) -->
      <div id="id-requerimiento-container" class="bg-gray-800 text-white p-4 rounded-lg shadow-md" style="display: none;">
        <label for="id_requerimiento" class="block text-sm font-medium">ID Requerimiento:</label>
        <input type="text" id="id_requerimiento" name="id_requerimiento" class="mt-1 block w-full bg-gray-700 text-white rounded-md focus:ring-indigo-500 focus:border-indigo-500" placeholder="ID del requerimiento">
      </div>
            <!-- Numero de  Requerimiento (Oculto dinámicamente) -->
      <div id="num-requerimiento-container" class="bg-gray-800 text-white p-4 rounded-lg shadow-md" style="display: none;">
        <label for="num_requerimiento" class="block text-sm font-medium">
            N° Requerimiento:</label>
        <input type="text" id="num_requerimiento" name="num_requerimiento" class="mt-1 block w-full bg-gray-700 text-white rounded-md focus:ring-indigo-500 focus:border-indigo-500" placeholder="N° del requerimiento">
      </div>
      
      <!-- Campo Área (Oculto dinámicamente) -->
      <div id="campo-area-container" class="bg-gray-800 text-white p-4 rounded-lg shadow-md" style="display: none;">
        <label for="campo_area" class="block text-sm font-medium">Área:</label>
        <select id="campo_area" name="campo_area" class="mt-1 block w-full bg-gray-700 text-white rounded-md focus:ring-indigo-500 focus:border-indigo-500">
          <option value="" selected disabled>Seleccione una opción</option>
          <option value="Sistemas">Sistemas</option>
          <option value="Académico">Académico</option>
          <option value="Imagen">Imagen</option>
          <option value="Gerencia">Gerencia</option>
          <option value="Administración">Administración</option>
          <option value="Marketing">Marketing</option>
          <option value="Ventas">Ventas</option>
        </select>
      </div>
      
        <!-- Código de Comprobante -->
        <div id="codigo-comprobante-container" class="bg-gray-800 text-white p-4 rounded-lg shadow-md" style="display: none;">
            <label for="num_comprobante" class="block text-sm font-medium">Número de Comprobante:</label>
            <input type="text" id="num_comprobante" name="num_comprobante" class="mt-1 block w-full bg-gray-700 text-white rounded-md focus:ring-indigo-500 focus:border-indigo-500" placeholder="Número de comprobante">
        </div>
        
        <!-- Fecha de Emisión del Comprobante -->
        <div id="fecha-emision-comprobante-container" class="bg-gray-800 text-white p-4 rounded-lg shadow-md" style="display: none;">
            <label for="fecha_emision_comprobante" class="block text-sm font-medium">Fecha de Emisión:</label>
            <input type="date" id="fecha_emision_comprobante" name="fecha_emision_comprobante" class="mt-1 block w-full bg-gray-700 text-white rounded-md focus:ring-indigo-500 focus:border-indigo-500">
        </div>
        

      <!-- Método de Pago -->
      <div>
        <label for="metodo_pago" class="block text-sm font-medium text-gray-700">Método de Pago:</label>
        <select id="metodo_pago" name="metodo_pago" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-accent focus:border-accent">
          <option value="efectivo">Efectivo</option>
          <option value="yape">Yape</option>
          <option value="transferencia">Transferencia</option>
        </select>
      </div>
      <!-- Código de Operación (dinámico) -->
      <div id="codigo-operacion-container" class="bg-gray-800 text-white p-4 rounded-lg shadow-md" style="display: none;">
        <label for="codigo_operacion" class="block text-sm font-medium">Código de Operación:</label>
        <input type="text" id="codigo_operacion" name="codigo_operacion" class="mt-1 block w-full bg-gray-700 text-white rounded-md focus:ring-indigo-500 focus:border-indigo-500" placeholder="Código de operación">
      </div>

      <!-- Fecha de Operación (dinámico) -->
      <div id="fecha-operacion-container" class="bg-gray-800 text-white p-4 rounded-lg shadow-md" style="display: none;">
        <label for="fecha_operacion" class="block text-sm font-medium">Fecha de Operación:</label>
        <input type="date" id="fecha_operacion" name="fecha_operacion" class="mt-1 block w-full bg-gray-700 text-white rounded-md focus:ring-indigo-500 focus:border-indigo-500">
      </div>



      <!-- Moneda -->
      <div>
        <label for="moneda" class="block text-sm font-medium text-gray-700">Moneda:</label>
        <select id="moneda" name="moneda" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-accent focus:border-accent">
          <option value="Soles">Soles</option>
          <option value="Dolares">Dólares</option>
        </select>
      </div>

      <!-- Local -->
      <div>
        <label for="local" class="block text-sm font-medium text-gray-700">Local:</label>
        <select id="local" name="local" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-accent focus:border-accent">
          {% for loc in locales %}
          <option value="{{ loc.id }}">{{ loc.nombre_local }}</option>
          {% endfor %}
        </select>
      </div>







    <!-- Concepto Nivel 1 -->
    <div>
        <label for="concepto_nivel_1_results" class="block text-sm font-medium text-gray-700">Seleccionar Concepto Nivel 1:</label>
        <select id="concepto_nivel_1_results" name="concepto_nivel_1_results" 
                class="mt-2 block w-full rounded-md border-gray-300 shadow-sm focus:ring-accent focus:border-accent">
            <option value="">Seleccionar</option>
            {% for concepto in nivel_1_conceptos %}
                <option value="{{ concepto.id }}">{{ concepto.concepto_nombre }}</option>
            {% endfor %}
        </select>
    </div>


      <!-- Concepto Nivel 2 -->
    <div>
        <label for="concepto_nivel_2_results" class="block text-sm font-medium text-gray-700">Seleccionar Concepto Nivel 2:</label>
        <select id="concepto_nivel_2_results" name="concepto_nivel_2_results" class="mt-2 block w-full rounded-md border-gray-300 shadow-sm focus:ring-accent focus:border-accent">
            <option value="">Seleccionar</option>
        </select>
    </div>

      <!-- Concepto Nivel 3 -->
      <div>
        <label for="concepto_nivel_3_filter" class="block text-sm font-medium text-gray-700">Buscar Concepto Nivel 3:</label>
        <select id="concepto_nivel_3_results" name="concepto_nivel_3_results" class="mt-2 block w-full rounded-md border-gray-300 shadow-sm focus:ring-accent focus:border-accent">
            <option value="">Seleccionar</option>
        </select>
      </div>

      <!-- Observación -->
      <div >
        <label for="observacion" class="block text-sm font-medium text-gray-700">Descripcion:</label>
        <textarea id="observacion" name="observacion" rows="3" placeholder="Escribe aquí..." class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-accent focus:border-accent"></textarea>
      </div>

    <!-- Nombre Proveedor -->
  <div class="flex-1">
      <label for="nombre_proveedor" class="block text-sm font-medium text-gray-700">Apellidos, Nombres y/o Proveedor:</label>
      <div class="flex items-center space-x-2">
        <select id="nombre_proveedor" name="nombre_proveedor"
          class="block w-full rounded-md border-gray-300 shadow-sm focus:ring-accent focus:border-accent">
          <option value="" disabled selected>Selecciona un proveedor</option>
          {% for proveedor in proveedores %}
            <option value="{{ proveedor.id }}">{{ proveedor.razon_social }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    </div>



    
    
      </div>
            <!-- Botón de Guardar -->
          <div class="col-span-1 md:col-span-2 lg:col-span-3 text-right mt-4">
            <button type="button" id="btn-guardar" class="bg-accent text-white px-4 py-2 rounded shadow hover:bg-green-600">
              Guardar
            </button>
        </div>
</main>

<!-- Script para Confirmación y Validación -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/nombre_proveedor.js' %}"></script>
<script>
    // Configurar csrf token
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
            }
        }
    });

    $(document).ready(function() {
        $('#concepto_nivel_2_results').select2();
        $('#concepto_nivel_3_results').select2();
        $('#concepto_nivel_1_results').select2();
        $('#nombre_proveedor').select2();

        $('#concepto_nivel_1_results').on('change', function() {
            var conceptoId = $(this).val();
            $.ajax({
                url: '{% url "get_nivel_2_conceptos" %}',
                data: {id_concepto_padre: conceptoId},
                success: function(data) {
                    $('#concepto_nivel_2_results').empty().append('<option value="">Seleccionar</option>');
                    $.each(data, function(index, concepto) {
                        $('#concepto_nivel_2_results').append('<option value="' + concepto.id + '">' + concepto.concepto_nombre + '</option>');
                    });
                }
            });
        });

        $('#concepto_nivel_2_results').on('change', function() {
            var conceptoId = $(this).val();
            $.ajax({
                url: '{% url "get_nivel_3_conceptos" %}',
                data: {id_concepto_padre: conceptoId},
                success: function(data) {
                    $('#concepto_nivel_3_results').empty().append('<option value="">Seleccionar</option>');
                    $.each(data, function(index, concepto) {
                        $('#concepto_nivel_3_results').append('<option value="' + concepto.id + '">' + concepto.concepto_nombre + '</option>');
                    });
                }
            });
        });

        $('#btn-guardar').on('click', function() {
            var fecha = $('#fecha').val();
            var importe = $('#importe').val();
            var metodo_pago = $('#metodo_pago').val();

            // Validación básica
            if (!fecha || !importe || !metodo_pago) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Por favor complete los campos obligatorios.'
                });
                return;
            }

            var formData = {
                fecha: $('#fecha').val(),
                importe: $('#importe').val(),
                metodo_pago: $('#metodo_pago').val(),
                moneda: $('#moneda').val(),
                local: $('#local').val(),
                tipo_comprobante: $('#tipo_comprobante').val(),
                num_comprobante: $('#num_comprobante').val(), // Nuevo campo agregado
                fecha_emision_comprobante: $('#fecha_emision_comprobante').val(), // Nuevo campo agregado
                nombre_proveedor: $('#nombre_proveedor').val(),
                observacion: $('#observacion').val(),
                codigo_operacion: $('#codigo_operacion').val(),
                fecha_operacion: $('#fecha_operacion').val(),
                concepto_nivel_1: $('#concepto_nivel_1_results').val(),
                concepto_nivel_2: $('#concepto_nivel_2_results').val(),
                concepto_nivel_3: $('#concepto_nivel_3_results').val(),
                id_requerimiento: $('#id_requerimiento').val(),   
                num_requerimiento: $('#num_requerimiento').val(),   
                campo_area: $('#campo_area').val(),
                campo_mes: $('#campo_mes').val()

            };


            $.ajax({
                type: 'POST',
                url: '{% url "gasto" %}',
                data: JSON.stringify(formData),
                contentType: 'application/json',
                success: function(response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Éxito',
                        text: 'Gasto registrado correctamente.'
                    }).then(() => {
                        window.location.href = '{% url "gasto" %}';
                    });
                },
                error: function(xhr, status, error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: xhr.responseJSON ? xhr.responseJSON.error : 'Ha ocurrido un error inesperado.'
                    });
                }
            });
        });
    });
</script>



{% endblock %}
