{% extends 'base.html' %}

{% block content %}
<meta charset="UTF-8">
<!-- Incluye el estilo de DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<!-- Scripts necesarios -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<main class="container mx-auto py-8">
  <h2 class="text-3xl font-bold mb-6">Registrar Rendición</h2>

  <!-- Tabla de Gastos -->
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="bg-gray-800 text-white p-4">
      <h3 class="text-lg font-bold">Seleccionar un Gasto</h3>
    </div>
    <div class="p-4">
      <table id="tabla-gastos" class="min-w-full table-auto border-collapse">
        <thead class="bg-gray-700 text-white">
          <tr>
            <th class="px-4 py-2 text-left">Nombre</th>
            <th class="px-4 py-2 text-left">Req</th>
            <th class="px-4 py-2 text-left">Local</th>
            <th class="px-4 py-2 text-left">Moneda</th>
            <th class="px-4 py-2 text-left">Fecha de Gasto</th>
            <th class="px-4 py-2 text-left">Observación</th>
            <th class="px-4 py-2 text-left">Importe</th>
            <th class="px-4 py-2 text-left">Acciones</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
          {% for gasto in gastos %}
          <tr class="hover:bg-gray-100">
            <td class="px-4 py-2">{{ gasto.nombre_proveedor|default:"Sin proveedor" }}</td>
            <td class="px-4 py-2">REQ N°{{gasto.num_requerimiento}}(Id={{gasto.id_requerimiento}})</td>
            <td class="px-4 py-2">{{ gasto.local.nombre_local }}</td>
            <td class="px-4 py-2">{{ gasto.moneda }}</td>
            <td class="px-4 py-2">{{ gasto.fecha_gasto|date:"d/m/Y" }}</td>
            <td class="px-4 py-2">{{ gasto.observacion|default:"Sin observación" }}</td>
            <td class="px-4 py-2">{{ gasto.importe }}</td>
            <td class="px-4 py-2">
              {% if gasto.usuario_creador.is_active %}
                <a href="{% url 'registrar_rendiciones' gasto.id %}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-3 rounded text-sm inline-flex items-center">
                  <!-- Font Awesome icon -->
                  <i class="fas fa-check-circle mr-1"></i>
                  Rendir
                </a>
              {% else %}
                <button class="bg-gray-500 text-white font-bold py-1 px-3 rounded text-sm inline-flex items-center cursor-not-allowed" disabled>
                  <!-- Font Awesome icon -->
                  <i class="fas fa-ban mr-1"></i>
                  Rendir (Inactivo)
                </button>
              {% endif %}
            </td>


          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>

<script>
  $(document).ready(function() {
    $('#tabla-gastos').DataTable({
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
      },
      "order": [[1, "desc"]], // Ordenar por Fecha de Gasto de mayor a menor
      "pagingType": "simple_numbers", // Control de paginación más compacto
      "dom": '<"top"lfB>rt<"bottom"ip><"clear">', // Agregar botones de exportación
      "buttons": [
        {
          extend: 'excelHtml5',
          text: 'Exportar a Excel',
          className: 'bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded',
          title: 'Reporte de Gastos'
        },
        {
          extend: 'pdfHtml5',
          text: 'Exportar a PDF',
          className: 'bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded',
          title: 'Reporte de Gastos',
          orientation: 'landscape',
          pageSize: 'A4'
        }
      ]
    });
  });
</script>

<!-- Incluyendo mensajes -->
{% include 'mensaje.html' %}
{% endblock %}
